<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QBox.Web.UITests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QBox.Web.UITests.Properties.Settings>
            <setting name="StartURL" serializeAs="String">
                <value>http://localhost:1156</value>
            </setting>
        </QBox.Web.UITests.Properties.Settings>
    </applicationSettings>
</configuration>