@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QuizBox</h1>
    <p class="lead">QuizBox is the ultimate quiz challenge where you can compete against yourself and friends to determine who has the deepest knowledge!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Play Game</h2>
        <p>
            Let's get started, click on the link below to start a new game
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">New Quiz Game</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Profile</h2>
        <p>Edit your profile information</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Manage Profile</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Highscores</h2>
        <p>Check out the latest highscores!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">View Highscores</a></p>
    </div>
</div>